@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

@media (max-width: 767px) {
  .app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .app div:nth-child(1) {
    flex: 1 50%;
  }

  .app div:nth-child(2) {
    flex: 1 100%;
  }

  .app div:nth-child(3) {
    order: -1;
  }
}
